* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #3f1457;
}

.header {
    background-color: rgb(12, 11, 11);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.container h2 img {
    padding: 5px 0;
    width: 70px;
}

.container ul {
    list-style: none;
}

.container ul li i {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    justify-content: space-between;
    cursor: pointer;
}

.menu-login {
    border: none;
    background: transparent;
}

.inactive {
    display: none;
    transition: 1s;
}

.menu-logout {
    position: absolute;
    left: inherit;
    right: 0px;
    float: none;
    max-width: 200px;
    min-width: 180px;
    padding: 0;
    background-color: #ba9dc0;

}

.menu-logout ul {
    list-style: none;
    padding: 10px;
}

.menu-logout ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
}

.menu-logout ul li a i {
    margin-right: 0.5rem;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portada {
    background-color: #18191a;
    width: 80%;
}

.portada img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: -100px;
    padding-bottom: 20px;
    background-image: linear-gradient(to top, #0e101170 55%, transparent 55%);
    border-radius: 0 0 15px 15px;
}

.perfil img {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    border-radius: 50%;
    border: 10px solid rgb(219, 219, 219);
}

.perfil h2 {
    font-size: 1.5em;
    color: white;
    width: 70%;
    margin-top: 100px;
}

.informacion {
    display: flex;
    justify-content: space-between;
    background-color: #0e101170;
    color: white;
    border-radius: 20px;
    margin: 5px auto;
    width: 80%;
    padding: 20px 40px;
}

.titulo-burbuja {
    width: 50%;
    padding: 6px;
    background-color: #ba9dc0;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.informacion .calificacion {
    width: 30%;
}

.stars {
    font-size: 1.5em;
}

.detalle {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.detalle h4 {
    margin-right: 10px;
}

.detalle i {
    margin-top: 3px;
    margin-right: 20px;
}

.fotos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0e101170;
    color: white;
    border-radius: 20px;
    width: 80%;
    padding: 20px 40px;
}

.fotos .titulo {
    width: 7%;
    padding: 6px;
    background-color: #ba9dc0;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

.fotos .list-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.fotos img {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
}