* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --main-color: #3f1457;
    --secundary-color: #ba9dc0;
}

body {
    height: 100vh;
    background-color: var(--main-color);
}

body::-webkit-scrollbar{
    width: 1px;
}

.container {
    width: 94%;
    margin: auto;
}

.header-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-principal .container h2 img {
    padding: 20px 0;
    width: 100px;
}

.header-principal .container .home {
    padding: 20px 0;
    width: 100px;
}

.header-principal .container .home a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    justify-content: space-between;
}

.header-principal .container .home a:hover {
    background-color: #e3cde8;
    padding: 6px;
    border-radius: 10px;
    color: black;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin: 0 15px;
}

.menu ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu ul li a:hover {
    background-color: #e3cde8;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.bienvenida .titulo {
    font-family: 'Concert One', cursive;
    font-size: 6rem;
    font-weight: bolder;
}

.bienvenida .descripcion {
    font-size: 20px;
}

.bienvenida .titulo-2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.bienvenida .busqueda {
    border: none;
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    font-size: 20px;
}

.bienvenida .busqueda::placeholder {
    font-size: 20px;
}

.section {
    margin-top: 3rem;
}

.section h2 {
    color: white;
}

.list-categias {
    margin-top: 20px;
    background-color: white;
    height: 300px;
}

.list-categias ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.list-categias ul li {
    margin: auto 200px;
}

.list-categias ul li .datalle-categoria {
    color: black;
}

.list-categias ul li .imagen img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 20px auto;
}

.list-categias ul li h2 {
    text-align: center;
}

/* Login */

.header-principal .container h2 a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px 0;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario img {
    width: 250px;
}

.formulario span {
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formulario .registro {
    width: 100%;
}

.formulario .registro .form-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.formulario .registro .form-group .input-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formulario .registro .form-group .input-only {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario .registro .form-group .input-only input {
    width: 95%;
}

.formulario form label {
    font-size: 20px;
    color: white;
}

.formulario form input,
select {
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 20px;
    width: 90%;
}

.formulario .input-image {
    background-color: white;
}

.formulario form input::placeholder {
    font-size: 20px;
}

.formulario form .btn-login {
    background-color: var(--secundary-color);
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin: 20px auto;
    font-size: 20px;
    text-transform: uppercase;
    width: 50%;
}

.formulario .item {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.formulario .item a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.formulario .item a:hover {
    color: #ba9dc0;
    border-bottom: 1px solid var(--secundary-color);
}

.formulario .item a h3 {
    font-weight: normal;
}